{#
Most of these blocks almost the same as in 'form_div_layout.html.twig' template.
Mainly 'class' attributes were added.
#}

{% use 'form_div_layout.html.twig' %}

{# FORM #}

{%- block form_start -%}
    {% set attr = attr|merge({"class": (attr.class|default('') ~ ' form')|trim}) %}
    {{ parent() }}
{%- endblock form_start -%}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {% set attr = attr|merge({"class": (attr.class|default('') ~ ' form__' ~ type ~ '-widget')|trim}) %}
    {{ parent() }}
{%- endblock form_widget_simple -%}

{# END FORM #}

{# ROWS #}

{%- block form_row -%}
    {% set row_attr = row_attr|merge({"class": (row_attr.class|default('') ~ ' form__row')|trim}) %}
    {{ parent() }}
{%- endblock form_row -%}

{%- block checkbox_row -%}
    {% set row_attr = row_attr|merge({"class": (row_attr.class|default('') ~ ' form__checkbox-row')|trim}) %}
    {{ block('form_row') }}
{%- endblock checkbox_row -%}

{%- block button_row -%}
    {% set row_attr = row_attr|merge({"class": (row_attr.class|default('') ~ ' form__row')|trim}) %}
    {{ parent() }}
{%- endblock button_row -%}

{# END ROWS #}

{# LABELS #}

{%- block form_label -%}
    {% set label_attr = label_attr|merge({"class": (label_attr.class|default('') ~ ' form__label')|trim}) %}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' form__label_required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {%- if translation_domain is same as(false) -%}
            {%- if label_html is same as(false) -%}
                {{- label -}}
            {%- else -%}
                {{- label|raw -}}
            {%- endif -%}
        {%- else -%}
            {%- if label_html is same as(false) -%}
                {{- label|trans(label_translation_parameters, translation_domain) -}}
            {%- else -%}
                {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
            {%- endif -%}
        {%- endif -%}
        {% if required -%}
            <span class="form__required-mark"> *</span>
        {%- endif -%}
        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label -%}

{%- block radio_label -%}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' form__label_inline')|trim}) %}
    {{ block('form_label') }}
{%- endblock radio_label -%}

{# END LABELS #}

{# WIDGETS #}

{%- block textarea_widget -%}
    {% set attr = attr|merge({"class": (attr.class|default('') ~ ' form__textarea-widget')|trim}) %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}

{%- block submit_widget -%}
    {%- set type = type|default('submit') -%}
    {{ block('button_widget') }}
{%- endblock submit_widget -%}

{%- block checkbox_widget -%}
    {% set attr = attr|merge({"class": (attr.class|default('') ~ ' form__checkbox-widget')|trim}) %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    {% set attr = attr|merge({"class": (attr.class|default('') ~ ' form__radio-widget')|trim}) %}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock radio_widget -%}

{%- block choice_widget_collapsed -%}
    {% set attr = attr|merge({"class": (attr.class|default('') ~ ' form__select-widget')|trim}) %}
    {{ parent() }}
{%- endblock choice_widget_collapsed -%}

{%- block choice_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            {% set choiceAttr = choice.attr|merge({"class": (choice.attr.class|default('') ~ ' form__select-widget-option')|trim}) %}
            <option value="{{ choice.value }}"{% if choiceAttr %}{% with { attr: choiceAttr } %}{{ block('attributes') }}{% endwith %}{% endif %}{% if not render_preferred_choices|default(false) and choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock choice_widget_options -%}

{%- block imageSelector_radio_widget -%}
{%- endblock imageSelector_radio_widget -%}

{# END WIDGETS #}

{# ATTRIBUTES #}

{%- block button_attributes -%}
    {% set attr = attr|merge({"class": (attr.class|default('') ~ ' form__'~type~'-widget')|trim}) %}
    {{ parent() }}
{%- endblock button_attributes -%}

{# END ATTRIBUTES #}

{# SPECIFIC FIELDS #}

{# SPECIFIC FIELD: LANGUAGE SWITCHER #}

{%- block _language_switcher_form_lang_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    {% set row_attr = row_attr|merge({"class": (row_attr.class|default('') ~ ' form__row form__row_lang-switcher')|trim}) %}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        <div class="fas fa-globe-europe form__icon_globe"></div>
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
    </div>
{%- endblock _language_switcher_form_lang_row -%}

{%- block _language_switcher_form_lang_widget -%}
    {% set attr = attr|merge({"class": (attr.class|default('') ~ ' form__select-widget_lang-switcher')|trim}) %}
    {{- block('choice_widget_collapsed') -}}
{%- endblock _language_switcher_form_lang_widget -%}

{# END SPECIFIC FIELD: LANGUAGE SWITCHER #}

{# SPECIFIC FIELD: IMAGE_REFERENCE #}

{#{% block _image_reference_article_image_entry_widget %}#}
{#    {{ block('image_reference_entry_widget') }}#}
{#{% endblock _image_reference_article_image_entry_widget %}#}

{# END SPECIFIC FIELDS #}

{# CUSTOM BLOCKS #}

{% block image_reference_entry_widget %}
    {% set attr = attr|merge({"class": (attr.class|default('') ~ ' form__image-selector-widget')|trim}) %}
    <img src="" alt="">
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endblock image_reference_entry_widget %}

{# END CUSTOM BLOCKS #}
