{% extends 'base.html.twig' %}

{% block title %}{{"auth.signing-in"|trans}} - {{ parent() }}{% endblock %}

{% block body %}

    {% if app.user %}
        <div>
            {{ "auth.already-signed-in"|trans({username: app.user.username, logoutUrl: path('app_logout')})|raw }}
        </div>
    {% endif %}

    <h1>{{"auth.signing-in"|trans}}</h1>
    {{ form(form) }}
{% endblock %}
