{# @var paginatedComments \Knp\Component\Pager\Pagination\PaginationInterface|\App\Entity\Comment[] #}

{% extends "@admin/base.html.twig" %}

{% block title %} Comments - {{ parent() }}{% endblock %}

{% block body %}
    <div class="spacer spacer_bottom">
        <a href="{{ path('admin_comment_new') }}" class="button button_link">{{ "comment.create"|trans({}, 'admin') }}</a>
    </div>
        <div>{{ "total-items"|trans }}: {{ paginatedComments.totalItemCount }}</div>

        {{ knp_pagination_render(paginatedComments) }}

        {% include '@admin/partial/sort-list.html.twig' with {
            fields: [
                'id',
                'article',
                'parent',
                'owner',
                'status',
            ],
            alias: 'c',
            options: {
                'parent': {
                    'nested': true,
                    'nestedAliasedField': 'c_parent.text'
                },
                'owner': {
                    'nested': true,
                    'nestedAliasedField': 'c_owner.username'
                },
                'article': {
                    'nested': true,
                    'nestedAliasedField': 'c_article.title'
                }
            },
            pagination: paginatedComments
        } only %}

        {{ knp_pagination_filter(paginatedComments, {
            'c_article.title': 'Article',
            'c.text': 'Text',
            'c.status': 'Status',
            'c_owner.title': 'Owner',
            'c_parent.text': 'Parent comment\'s text',
            'c_parent.owner': 'Parent comment\'s owner'
        }) }}

        {% if paginatedComments|length == 0 %}
            <p>There is no comments</p>
        {% else %}

            {% include '@admin/partial/table.html.twig' with {
                fields: [
                    'id',
                    'text',
                    'article',
                    'status',
                    'owner',
                    'parent',
                ],
                options: {
                    'text': {
                        'max': 100
                    },
                    'parent': {
                        'nested': true,
                        'nestedField': 'text'
                    },
                    'owner': {
                        'nested': true,
                        'nestedField': 'username'
                    },
                    'article': {
                        'nested': true,
                        'nestedField': 'title'
                    }
                },
                entities: paginatedComments,
                editRouteName: 'admin_comment_edit',
            } only %}
        {% endif %}

        {{ knp_pagination_render(paginatedComments) }}
{% endblock %}
