{% extends 'base.html.twig' %}

{% block title %}FileReferenceArticle index{% endblock %}

{% block body %}
    <h1>FileReferenceArticle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Position</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for file_reference_article in file_reference_articles %}
            <tr>
                <td>{{ file_reference_article.id }}</td>
                <td>{{ file_reference_article.position }}</td>
                <td>{{ file_reference_article.status }}</td>
                <td>
                    <a href="{{ path('file_reference_article_show', {'id': file_reference_article.id}) }}">show</a>
                    <a href="{{ path('file_reference_article_edit', {'id': file_reference_article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('file_reference_article_new') }}">Create new</a>
{% endblock %}
