{% extends 'base.html.twig' %}

{% block title %}FileReferenceArticle{% endblock %}

{% block body %}
    <h1>FileReferenceArticle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ file_reference_article.id }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ file_reference_article.position }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ file_reference_article.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('file_reference_article_index') }}">back to list</a>

    <a href="{{ path('file_reference_article_edit', {'id': file_reference_article.id}) }}">edit</a>

    {{ include('file_reference_article/_delete_form.html.twig') }}
{% endblock %}
