{# @var paginatedFiles \Knp\Component\Pager\Pagination\PaginationInterface|\App\Entity\File[] #}

{% extends "@admin/base.html.twig" %}

{% block title %} Files - {{ parent() }}{% endblock %}

{% block body %}
    <div class="spacer spacer_bottom">
        <a href="{{ path('admin_file_new') }}" class="button button_link">{{ "file.create"|trans({}, 'admin') }}</a>
    </div>
    {% if paginatedFiles.totalItemCount == 0 %}
        <p>There is no files</p>
    {% else %}
        <div>{{ "total-items"|trans }}: {{ paginatedFiles.totalItemCount }}</div>

        {{ knp_pagination_render(paginatedFiles) }}

        {% include '@admin/partial/sort-list.html.twig' with {
            fields: [
                'id',
                'originalName',
                'mimeType',
                'name',
                'size',
                'status'
            ],
            alias: 'f',
            pagination: paginatedFiles
        } only %}

        {{ knp_pagination_filter(paginatedFiles, {
            'f.originalName': 'Original name',
            'f.mimeType': 'Mime Type',
            'f.name': 'Name',
            'f.status': 'Status'
        }) }}

        {% include '@admin/partial/table.html.twig' with {
            fields: [
                'id',
                'originalName',
                'mimeType',
                'name',
                'size',
                'status'
            ],
            entities: paginatedFiles,
            editRouteName: 'admin_file_edit',
        } only %}

        {{ knp_pagination_render(paginatedFiles) }}
    {% endif %}
{% endblock %}
