{% extends '@admin/base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <a class="button button_link" href="{{ path('admin_article_index') }}">Back to list</a>

    {{ include('@admin/crud/article/_delete_form.html.twig') }}

    <h1>Edit Article</h1>

    <a href="{{ path('admin_image_reference_article_new', {'article_id': article.id}) }}" class="button button_link">{{ "image.link-to-article"|trans({}, 'admin') }}</a>

    {{ form(form) }}

{% endblock %}
