<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{% block title %}{{ 'main-title'|trans }}{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="layout">
            <div class="layout__header">
                {{ include('layout/header.html.twig') }}
            </div>
            <div class="layout__body">
                {% set flashes = app.flashes %}
                {% if flashes %}
                    <div class="flash-messages">
                            {% for label, messages in flashes %}
                                {% for message in messages %}
                                    <div class="flash-messages__item flash-messages__item_{{ label }}">
                                        <div class="flash-messages__container">
                                            {{ message }}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                    </div>
                {% endif %}
                <div class="body">
                    <div class="body__container">
                        <div class="body__breadcrumbs">
                            {% block breadcrumbs %}{% endblock %}
                        </div>
                    </div>
                    <div class="body__container body__container_horizontal-till-lg">
                        <div class="body__side">
                            {% block side %}{% endblock %}
                        </div>
                        <div class="body__content">
                            {% block body %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <footer class="layout__footer">
                {{ include('layout/footer.html.twig') }}
            </footer>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
