{# @var \App\Entity\Article article #}
{# @var \App\Model\Link[] breadcrumbs #}
{# @var \App\Model\CommentsHierarchy[] comments #}
{# @var \Symfony\Component\Form\FormView createCommentForm #}

{% extends "base.html.twig" %}

{% block breadcrumbs %}
    {% include 'partial/_breadcrumbs.html.twig' with {'breadcrumbs': breadcrumbs} only %}
{% endblock %}

{% block body %}
    <div class="article">
        <h2 class="article__title">
            {{ article.title }}
            {% if article.status != 'published' %}
                <span class="article__title-not-published">({{ ('place.' ~ article.status)|trans({}, 'workflow') }})</span>
            {% endif %}
        </h2>
        <div class="article__spacer">
            <div class="article__author"><span class="article__bold">{{ "author"|trans() }}:</span> {{ article.owner.username }}</div>
        </div>
        <div class="article__text">{{ article.text|raw }}</div>
        <div class="article__spacer article__spacer_align-right">
            <div class="article__date"><span class="article__bold">{{ "article.created-at"|trans }}:</span> {{ article.createdAt|format_datetime() }}</div>
            {% if article.createdAt != article.updatedAt %}
                <div class="article__date"><span class="article__bold">{{ "article.updated-at"|trans }}:</span> {{ article.updatedAt|format_datetime() }}</div>
            {% endif %}
        </div>
    </div>
    <div class="delimiter"></div>
    {% include 'partial/comment/_list-hierarchy.html.twig' with {
        'comments': comments, 'canComment': createCommentForm ? true : false
    } only %}
    <div class="delimiter"></div>
    {% include 'partial/form/create-comment.html.twig' with {'form': createCommentForm} only %}
{% endblock %}
