<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <div class="logo">
                <a class="logo__link" href="{{ path('homepage') }}">
                    <span class="logo__title">{{ 'dems.blog'|trans }}</span>
                </a>
            </div>
        </div>
        <div class="header__language-switcher">
            {{ render_esi(controller('App\\Controller\\Partial\\LayoutController::renderLanguageSwitcher')) }}
        </div>
        <div class="header__join-link">
            <a href="{{ path('app_register') }}" class="header-link">
                <span class="header-link__icon fas fa-sign-in-alt"></span>
                <span class="header-link__title header-link__title_usual-type">{{ 'auth.join'|trans }}</span>
            </a>
        </div>
        <div class="header__nav">
            {{ render_esi(controller('App\\Controller\\Partial\\LayoutController::renderHeaderNav')) }}
        </div>
    </div>
</header>
